%h1 Raven
= image_tag ("raven.jpg"), class:"circle"
%p.description
  My name is Rhold James Steven S. Navarette.
  %br
  %br I am 23 years old. I live in Candabong, Alcantara, Cebu.
  %br I am a Software Engineer in KODA Kollectiv.
